body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.cliente {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea, form button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

form button {
    background: darkgreen;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: darkgreen;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background: darkgreen;
    color: white;
}

.center{
    background: darkgreen;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}
